Library/Bee/artifacts/Android/d8kzr/libil2cpp.so
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/assets/release/mergeReleaseAssets/bin/Data/data.unity3d
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/intermediates/local_aar_for_lint/release/out.aar
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/outputs/apk/release/launcher-release.apk 
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/compressed_assets/release/out/assets/bin/Data/data.unity3d.jar
Library/ArtifactDB
